.container {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    margin-bottom: 15px;
    width: 350px;
    padding: 10px;
}

button {
    height: 40px;
    color: #6600cc;
    background-color: #ffffff;
    border: 2px solid #6600cc; 
    font-size: 20px;
}

button:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #6600cc;
}